In [1]:
pip install graphviz

Collecting graphvizNote: you may need to restart the kernel to use updated packages.
  Downloading graphviz-0.19.1-py3-none-any.whl (46 kB)
Installing collected packages: graphviz
Successfully installed graphviz-0.19.1

In [2]:
import numpy as np
import pandas as pd
import os

# 1. Calling sklearn Libraries

# 2. Splitting data into train and test data
from sklearn.model_selection import train_test_split

# 3. PReprocessong:
from sklearn.preprocessing import StandardScaler

# 4. Import class DecisionTreeClassifier
from sklearn.tree import DecisionTreeClassifier as dtree

# 5. For drawing Decision Tree
from sklearn.tree import export_graphviz

# 6. Import iris
from sklearn.datasets import load_iris

# 7. 
# Install as:
#   conda install -c conda-forge python-graphviz 
#   conda install -c anaconda pydot
import graphviz

from sklearn.tree import plot_tree
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("Real_fake_news.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4870 entries, 0 to 4869
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       4870 non-null   int64
 1   Unnamed: 0.1     4870 non-null   int64
 2   author           4870 non-null   object
 3   statement        4870 non-null   object
 4   source           4870 non-null   object
 5   target           4870 non-null   bool
 6   BinaryTarget     4870 non-null   object
 7   BinaryNumTarget  4870 non-null   int64
dtypes: bool(1), int64(3), object(4)
memory usage: 271.2+ KB

In [5]:
df.describe()

        Unnamed: 0  Unnamed: 0.1  BinaryNumTarget
count  4870.000000   4870.000000      4870.000000
mean   1217.500000   1217.500000         0.500000
std     702.996251    702.996251         0.500051
min       0.000000      0.000000         0.000000
25%     609.000000    609.000000         0.000000
50%    1217.500000   1217.500000         0.500000
75%    1826.000000   1826.000000         1.000000
max    2435.000000   2435.000000         1.000000

In [6]:
df.head()

,Unnamed: 0,Unnamed: 0.1,author,statement,source,target,BinaryTarget,BinaryNumTarget
0,0,0,Jill Terreri,"New York is ""leading the nation with the lowes...",NYS Department of Corrections and Community Su...,True,REAL,1
1,1,1,Eleanor Hildebrandt,“Iowa ranks 45th in the U.S. for internet conn...,Cindy Axne,True,REAL,1
2,2,2,Emily Zirkelbach,“FUN FACT: West Virginia is home to zero billi...,David Gura,True,REAL,1
3,3,3,Madeline Heim,Says gubernatorial candidate Rebecca Kleefisch...,Kelda Helen Roys,True,REAL,1
4,4,4,Sabine Martin,"The Biden administration ""published a study co...",Randy Feenstra,True,REAL,1

In [7]:
df.tail()

,Unnamed: 0,Unnamed: 0.1,author,statement,source,target,BinaryTarget,BinaryNumTarget
4865,2431,2431,Bill McCarthy,"""Clinton campaign official arrested by FBI on ...",Bloggers,False,FAKE,0
4866,2432,2432,Miriam Valverde,"""Our courts find that 80 percent of those who ...",Jeff Sessions,False,FAKE,0
4867,2433,2433,Kiannah Sepeda-Miller,Says a progressive income tax proposal from De...,Evelyn Sanguinetti,False,FAKE,0
4868,2434,2434,Manuela Tobias,"""Maxine Waters Is Getting Criminally Charged!""",Bloggers,False,FAKE,0
4869,2435,2435,Bill McCarthy,"""Twitter caught leaking Donald Trump’s private...",Bloggers,False,FAKE,0

In [8]:
# redundant values removal
df.columns = list(map(lambda a: a.lstrip(), df.columns))

In [9]:
df.isnull().sum()

Unnamed: 0         0
Unnamed: 0.1       0
author             0
statement          0
source             0
target             0
BinaryTarget       0
BinaryNumTarget    0
dtype: int64

In [10]:
df.shape

(4870, 8)

In [11]:
df['author'].value_counts()

Ciara O'Rourke        669
Tom Kertscher         311
Louis Jacobson        250
Samantha Putterman    242
Jon Greenberg         153
                     ...
Jonathan Anderson       1
Duncan Slade            1
Ariella Phillips        1
Will Short              1
Nick Reid               1
Name: author, Length: 318, dtype: int64

In [12]:
df = df.drop(columns=['Unnamed: 0','Unnamed: 0.1','target','BinaryTarget'])

In [13]:
df_final = pd.get_dummies(df)
df_final.head()

,BinaryNumTarget,author_Aaron Marshall,author_Aaron Sharockman,author_Adam Thorp,author_Adrianne Uphold,author_Adriel Bettelheim,author_Al Bernardi,author_Alan Gathright,author_Alan Hovorka,author_Alayna Degenhardt,...,source_WrongWayRubio.com,source_Xavier Becerra,source_Yard sign,source_Yes On 62 campaign to abolish California's death penalty,source_YouTube videos,source_YourContent,source_Yvette McGee Brown,source_Zach Wahls,source_Zerlina Maxwell,source_teaparty.org
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
X = df_final.drop(columns=['BinaryNumTarget'])
y = df_final['BinaryNumTarget']

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state=42)

In [16]:
ct = dtree(
           criterion="entropy",    # Alternative 'entropy'
           max_depth=None       # Alternative, specify an integer
                              # 'None' means full tree till single leaf
           )
# 5.1
_=ct.fit(X_train,y_train)

In [17]:
y_te = ct.predict(X_test)
np.sum((y_test == y_te))/y_test.size

0.8884325804243669

In [18]:
fi = ct.feature_importances_
fi

array([0., 0., 0., ..., 0., 0., 0.])

In [19]:
from sklearn.ensemble import RandomForestClassifier # using random forest

In [20]:
#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

In [21]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.890485968514716

In [22]:
#The accuracy was 88.91% when using Decision Tree and 89.39% when using Random Forest Classifier.